In [2]:
import os
import pandas as pd

from sqlalchemy import create_engine

In [3]:
con = create_engine(os.environ.get('FOSAS_DB_URL'))

# Basic query

In [16]:
df = pd.read_sql("""
    select 
        e.nom_ent,
        m.nom_mun,
        m.cve_ent,
        m.cve_mun,
        d.year,
        d.fosas,
        d.cuerpos,
        d.cuerpos_identificados,
        d.restos,
        d.restos_identificados
    from mapasdata d 
    join areas_geoestadisticas_municipales m
        on d.cve_ent = m.cve_ent
        and d.cve_mun = m.cve_mun
    join areas_geoestadisticas_estatales e
        on d.cve_ent = e.cve_ent
""", con)

In [14]:
df.head()

,nom_ent,nom_mun,cve_ent,cve_mun,year,fosas,cuerpos,cuerpos_identificados,restos,restos_identificados
0,Aguascalientes,Aguascalientes,01,001,2007,1,2,0,0.0,0
1,Chiapas,Comitán de Domínguez,07,019,2008,1,3,0,0.0,0
2,Chihuahua,Chihuahua,08,019,2008,1,6,0,0.0,0
3,Chihuahua,Juárez,08,037,2006,1,1,0,0.0,0
4,Chihuahua,Juárez,08,037,2008,1,47,0,0.0,0

In [28]:
grouped = df.groupby(['nom_ent', 'nom_mun', 'year']).sum()

In [29]:
from collections import defaultdict

In [30]:
results = defaultdict(lambda: defaultdict(dict))

In [31]:
for index, value in grouped.itertuples():
    for i, key in enumerate(index):
        if i == 0:
            nested = results[key]
        elif i == len(index) - 1:
            nested[key] = value
        else:
            nested = nested[key]

ValueError: too many values to unpack (expected 2)